.navLink {
    margin-left: 30px;
    color: white !important;
}

.brandName {
    padding-left: 3%;
    padding-right: 5%;
    width: 50%;
}

.navLogo {
    border-radius: 100px;
    width: 8%;
}

.siteName {
    display: inline;
    margin-left: 2%;
}

.brandSlogan {
    font-size: 12px;
    margin-left: 10%;
    margin-top: -2%;
    margin-bottom: -1%;
}

/* Responsiveness */
@media (max-width: 960px) {
    .navLogo {
        width: 30%;
    }
    .brandSlogan {
        margin-left: 35%;
        margin-bottom: 15%;
    }
}
