.detailInfo {
    margin-top: 8%;
    margin-bottom: 8%;
}

.key-info-div {
    padding: 10%;
}

/* Responsiveness */
@media (max-width: 760px) {
    .detailInfo {
        padding: 2%;
    }

    .key-info-div {
        padding: 1%;
    }
}
