/* Use it to get rid of the default style of Link in react router dom */
.react-link {
    color: black !important;
    text-decoration: none;
}

.react-link:-webkit-any-link {
    text-decoration: none;
}

.react-link:hover {
    text-decoration: none;
}
